body {
  background-color: lightslategrey;
}

h1 {
  text-align: center;
}

hr {
  width: 95%;
  text-align: left;
}

.loud {
  color: red;
}
.pad-left {
  padding-left: 10px;
}

.web-dev {
  font-style: italic;
  font-size: 15px;
}

.address {
  font-style: italic;
  text-align: center;
}

.section {
  margin: 10px;
  background-color: lightgrey;
  padding: 10px;
}

.sidebar {
  float: right;
  width: 50px;
  background-color: darkgrey;
  color: white;
  height: 100%;
}
